#nav {
    line-height:30px;
    // background-color:#eeeeee;
    height:300px;
    width:20%;
    float:left;
    padding:5px;	      
}
#main {
    width: 60%;
    float:left;
    padding:10px;	 	 
}
